
html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
}
.rgba
{
  background-color: rgba(0, 0, 0, 0.568);
  background-size: 100vh;
  height: 100vh;
  position: absolute;
  z-index: -0;
  width: 100%;
}
.cent-port
  {
    position: relative;
    z-index: 2;
  }
.descripcion {
  color: white;
  text-align: justify;
  padding: 0 2vh;
}



.video1 {
  padding: 0;
  margin-bottom: -0.3%;
  width: 100%;
  background-color: black;
  height: auto;
}

.uno {

  background: url("../images/1.jpg") 50% 50% / cover no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: auto;
}


.section {

  background-attachment: fixed;
  position: relative;

  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.dos {
  background: url("../images/2.jpg") 50% 10% / cover no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 70%;
}

.tres {
  background: url("../images/3.jpg") 50% 10% / cover no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 70%;
}

.cuatro {
  background: url("../images/4.jpg") 50% 10% / cover no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 70%;
}

.cinco {
  background: url("../images/5.jpg") 50% 10% / cover no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 70%;
}

.nav {

  transition: all .5s ease;
  font-size: 1vw;
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  z-index: 100;
  position: absolute;
  /* bottom: 0; */
  left: 0;
  letter-spacing: 2px;
  line-height: 100px;
  -webkit-transition-property: background-color, box-shadow, line-height, height;
  transition-property: background-color, box-shadow, line-height, height;
  -webkit-transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
  transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.nav .brand {
  /* padding: 15px 60px; */
  /* line-height: 30px; */
  line-height: 100px;
  padding-left: 60px;
  padding-right: 60px;
  display: inline-block;
  float: right;
  font-size: 2vw;
  font-family: 'Pacifico', cursive;
  -webkit-transition-property: background-color, box-shadow, line-height, height;
  transition-property: background-color, box-shadow, line-height, height;
  -webkit-transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
  transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  /* padding-right: 60px; */
}

.nav .brand a {
  font-family: 'Quicksand', sans-serif;
  color: #E33B00;
  text-decoration: none;
}

.nav ul {
  margin: 0;
  text-transform: uppercase;
}

.nav ul li {
  text-align: center;
  display: inline-block;
  list-style: none;
  padding: 2vh 2vh;
  cursor: pointer;
  line-height: 30px;

}

.nav ul li:hover a {
  font-weight: bold;
  color: black;
  background-color: rgb(252, 173, 26);
  display: block;
  padding: 2vh;
  transition: all .3s ease;
}

.nav ul li a {
  color: white;
  /*COLOR DE LETRA DEL MENU DE OPCIONES*/
  font-size: 1.5vw;
  outline: none;
  text-decoration: none;
  text-transform: none;

  transition: all .3s ease;
  display: block;
}

.sticky {
  position: fixed !important;
  top: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
  /* box-shadow: 0 4px 5px -2px rgba(0,0,0,0.22), 0 2px 1px -1px rgba(0,0,0,0.05); */
  background-color: rgb(0, 0, 0);
  transition: all .8s ease;
  line-height: 30px;
}

.sticky .brand {
  line-height: 60px;
  transition: all .3s ease;
}

.sticky ul li a {
  transition: all .3s ease;
  color: rgba(255, 255, 255, 0.788);
}

.sticky ul li:hover a {
  color: black;
  background-color: rgb(252, 173, 26);
  display: block;
  padding: 15px;
  transition: all .3s ease;
}

.pattern-overlay {
  background: rgba(0, 0, 0, 0) url("http://codemydesign.ru/CMDSpace/image/css/images/overlay.png") repeat;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}

.menu {
  display: none;
}

/*----------------------Pelicula---------------*/
#pelicula {
  margin: 0 auto;
  padding: 5vw;
  background-color: black;
  position: relative;
  z-index: 1;
}

#pelicula h1 {
  font-size: 6vw;
  color: red;
  display: block;
  margin: 0;
  padding: 0;
}

#pelicula h2 {
  font-size: 2vw;
  padding: 0;
  display: block;
  margin: 0;
  color: green;
}

#pelicula .gif1 {
  padding: 0;
  margin: 0;
  float: left;
  margin: 0;
  margin-right: 1vh;
  width: 41%;
}

#pelicula p {
  display: block;
  margin: 0;
  text-align: justify;
 font-size: larger;
  margin-top: -2vh;
  color: white;
}

/*----------------------Pelicula---------------*/

/*-------------Ficha-------------------*/
#ficha {
  position: relative;
  z-index: 1;
  padding-left: 10vh;
  padding-right: 10vh;
  background-color: #363940;
  padding-top: 5vh;
}

#ficha h2 {
  margin: 0;
  padding: 0;
  color: blue;
  font-size: 4vw;

}

#ficha h3 {
  font-size: 2vw;
  color: violet;
  padding: 0;
  margin: 2;
}

#ficha p {
  text-align: justify;
  font-size: large;
  color:white;
}

#ficha img {
  width: 15%;
  float: left;
  
  transition: all .3s ease;
  margin: 0 1vh 0vh 0;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.589);
}
#ficha img:hover
{
  width: 18%;
  transition: all .3s ease;
  box-shadow: 0 0 20px 0 rgba(65, 221, 241, 0.589);
  
}

#ficha .imagenes img {
  width: 20%;
  float: none;

}
.btn{
  transition: all .3s ease;
  border: solid 3px;
  font-family: 'Arial Black';
  font-size: 20px;
	padding: 20px 40px;
	text-decoration: none;
  margin-right: 10px;
  background-color: white ;
}
.btn-black{
  transition: all .3s ease;
	border-color: black;
	color: black;
}
.btn-black:hover{
  transition: all .3s ease;
	background-color: black;
	border-color: white;
	color: white;
}
.btn-white{
  transition: all .3s ease;
	border-color: white;
	color: white;
}

.btn-white:hover{
  transition: all .3s ease;
	background-color: white;
	border-color: black;
	color: black;
}
/*-------------Ficha-------------------*/


/*----------------cambio climatico---------------------*/
#cambio_climatico {
  background-color: #989da8;
  padding: 6vh;
}

#cambio_climatico h1 {
  font-size: 6vw;
  color: red;
  display: block;
  margin: 0;
  padding: 0;
}

#cambio_climatico h2 {
  color: blue;
  font-size: 4vw;
}

#cambio_climatico h3 {
  font-size: 2vw;
  color: rgb(46, 41, 46);

}

#cambio_climatico p {
  text-align: justify;
  font-size: 1.3vw;
}

#cambio_climatico p{
  font-size: large;
}
#cambio_climatico video {
  width: 40%;
}



/*----------------cambio climatico---------------------*/



/*------------------opinion--------------------------------*/

#opi {
  padding-top: 5vw ;
  background-color: rgb(0, 0, 0);
  padding-left: 2vh;
  padding-right: 2vh;
  position: relative;
  
}

#opi h1 {
  font-size: 6vw;
  color: #989da8;
  display: block;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

#opi h2 {
  color: rgb(138, 5, 23);
  font-size: 4vw;
}

#opi h3 {
  font-size: 2vw;
  color: violet;

}

#opi p {
  
  text-align: justify;
  font-size: 1.3vw;
  color: white;
}

#opi .myimg img {
  width: 50%;
  transition: all .3s ease;
  margin: 0 1vh 5vh 0;
  box-shadow: 0 0 20px 0 rgba(196, 14, 14, 0.589)
}


/*------------------opinion--------------------------------*/

/*-------formulario----------------------------*/


/*-------formulario----------------------------*/

.content {
  background-color: black;
  padding-top: 10%;
  position: relative;
  color: white;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}




.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(235, 226, 226, 0.589);
}

.contact-wrapper>* {
  padding: 1em;
}

.contact-form {
  background: #222222;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d63031;
}
.contact-form form .block input  
{
  border-bottom: 0px solid #d63031;
  
}
.contact-form form button {
  background: #B70E21;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
  
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #d63031;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}


/* LARGE SIZE */


/*-------------footer-----------------------*/
footer {
  background-image: url(../images/footer.png);
  width: 100%;
  height: 50%;
  color: white;
  position: relative;
  z-index: 1;
}
footer #redes-sociales a
{
  
margin: 3%;
}
footer #redes-sociales a img
{
  margin-top: 7%;
  width: 5%;
  height: auto;
  transition: all .3s ease;
}
footer #redes-sociales a img:hover{
  width: 6%;
  transition: all .3s ease;
}
footer .derechos
{
  
  text-align: center;
  padding-top: 5%;
}
footer .derechos a{
  text-decoration: none;
  color: rgb(165, 160, 160);
}
/*-------------footer-----------------------*/
@media screen and (min-width:1079px) {
  .rgba
  {
    height: 400vh;
  }
  #opi .myimg img{
    display: inline-block;
    width: 30%;
    height: 30%;
    margin: 2vh;
  }
  
  #cambio_climatico  video
  {
    width: 49%;
    height: 50%;
  }
#opi h1{
  font-size: 10vh;
}
#opi h2{
font-size:8vh;
}
#opi p
{
    font-size: 3vh;
}
  #cambio_climatico ul{
    font-size: 3vh;
  }
  #cambio_climatico {
    margin: 0 auto;
    padding-top: 5vw;
    padding-left: 10vh ;
    padding-right: 10vh ;
    position: relative;
    z-index: 1;
  }
  #cambio_climatico p {
    font-size: 3vh;
  }
  
  #ficha .imagenes img {
    width: 30%;
    margin: 2vh;
  }
  #pelicula p {
    font-size: 3vh;
  }
  #ficha p
  {
    font-size: 3vh;
  }
  #ficha video{
    width: 98%;
  }
  .cent-port .portada {
    margin-left: 0vh;
    padding: 0;
    padding-top: 15vh;
    padding-left: 10vh;
    width: 50vh;
  }

  .details-port {
    text-align: right;
    color: white;
    float: right;
    padding-top: 20vh;
    padding-right: 5vh;
    padding-left: 9vh;
    font-size: 5vw;
  }

  .details-port .des {
    color: rgb(129, 145, 145);
    font-size: 4vw;

    
  }

  .descripcion {

    font-size: 1.5vw;
    display: block;
    color: white;
    margin-top: -40vh;
    padding-left: 45vw;
    text-align: justify;

  }



}



@media screen and (max-width: 1078px) and (min-width: 900px) {
  
  .rgba
  {
    height: 400vh;
  }
  footer #redes-sociales a img{
    width: 10%;
    transition: all .3s ease;

  }
  footer #redes-sociales a img:hover{
    width: 12%;
    transition: all .3s ease;
  }
  footer .derechos{
    font-size: 2vh;
    
  }s
  #opi .myimg img{
    display: inline-block;
    width: 29%;
    
    margin: 2vh;
  }
  
  #cambio_climatico  video
  {
    width: 49%;
  }
  #cambio_climatico  video
  {
    width: 49%;
  }
  #opi h1{
    font-size: 10vh;
  }
  #opi h2{
  font-size:8vh;
  }
  #opi p
  {
      font-size: 3vh;
  }
  #cambio_climatico ul{
    font-size: 3vh;
  }
  #cambio_climatico h1{
    font-size:6vh;
  }

  #cambio_climatico h2{
    font-size:6vh;
  }
  #cambio_climatico h3{
    font-size:4vh;
  }
  #cambio_climatico p{
  font-size: 3vh;    
  }
  #ficha h1 {

    font-size:6vh;
  }
  #pelicula p {
    font-size: 3vh;
  }
  #ficha h2 {

    font-size:6vh;
  }
  #pelicula h1 {
    font-size: 8vh;
  }
  #ficha h3 {

    font-size:4vh;
  }
  #pelicula h2 {
    font-size: 4vh;
  }
  #ficha p {
    font-size: 3vh;
  }

  #ficha .imagenes img {
    width: 45%;
    margin: 2vh;
  }
  #ficha .imagenes img:hover {
    width: 45%;
    margin: 2vh;
  }
  #ficha video{
    width: 98%;
  }
  #ficha img {
    width: 30%;
  }
  #ficha img:hover
{
  width: 30%;
  transition: all .3s ease;
  box-shadow: 0 0 20px 0 rgba(65, 221, 241, 0.589);
  
}
  .cent-port {
    text-align: center;

  }

  .menu {
    display: none;
  }

  .nav ul li a {

    font-size: 1.3vw;
  }

  .video1 {
    margin-bottom: -0.4%;
  }

  .nav ul li:hover a {
    background-color: rgb(207, 20, 20);
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: white;
  }

  .cent-port .portada {
    align-content: space-between;
    margin-left: 0vh;
    padding: 0;
    display: inline-block;
    padding-top: 15vh;
    padding-left: 15vh;
    width: 40vh;
  }

  .details-port {

    color: white;
    float: right;
    padding-top: 40vh;
    padding-right: 5vh;
    font-size: 5vh;
  }

  .details-port .des {
    color: rgb(129, 145, 145);
    font-size: 4vh;

  }

  .descripcion {
    color: white;
    text-align: justify;
    padding: 0 2vh;
  }
}


@media screen and (max-width: 900px) and (min-width: 816px) {
  
  .rgba
  {
    height: 400vh;
  }
  footer #redes-sociales a img{
    width: 10%;
    transition: all .3s ease;

  }
  footer #redes-sociales a img:hover{
    width: 12%;
    transition: all .3s ease;
  }
  footer .derechos{
    font-size: 2vh;
    
  }
  #opi .myimg img {
    width: 95%;
    padding: 2vh;
  }
  #cambio_climatico  video
  {
    width: 49%;
  }
  #opi h1{
    font-size: 10vh;
  }
  #opi h2{
  font-size:8vh;
  }
  #opi p
  {
      font-size: 3vh;
  }
  #cambio_climatico ul{
    font-size: 3vh;
  }
  #cambio_climatico h1{
    font-size:6vh;
  }

  #cambio_climatico h2{
    font-size:6vh;
  }
  #cambio_climatico h3{
    font-size:4vh;
  }
  #cambio_climatico p{
  font-size: 3vh;    
  }
  #ficha h1 {

    font-size:6vh;
  }
  #pelicula p {
    font-size: 3vh;
  }
  #ficha h2 {

    font-size:6vh;
  }
  #pelicula h1 {
    font-size: 8vh;
  }
  #ficha h3 {

    font-size:4vh;
  }
  #pelicula h2 {
    font-size: 4vh;
  }
  #ficha p {
    font-size: 3vh;
  }
  #ficha .imagenes img {
    width: 45%;
    margin: 2vh;
  }
  #ficha .imagenes img:hover {
    width: 45%;
    margin: 2vh;
  }
  #ficha video{
    width: 98%;
  }
  #ficha img {
    width: 40%;
  }
  #ficha img:hover
{
  width: 40%;
  transition: all .3s ease;
  box-shadow: 0 0 20px 0 rgba(65, 221, 241, 0.589);
  
}
  #pelicula .gif1{
    width: 50%;
  }
  .cent-port {
    text-align: center;

  }

  .menu {
    display: none;
  }

  .nav ul li a {

    font-size: 1.3vw;
  }

  .video1 {
    margin-bottom: -0.4%;
  }

  .nav ul li:hover a {
    background-color: rgb(207, 20, 20);
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: white;
  }

  .cent-port .portada {
    align-content: space-between;
    margin-left: 0vh;
    padding: 0;
    display: inline-block;
    padding-top: 15vh;
    padding-left: 15vh;
    width: 40vh;
  }

  .details-port {

    color: white;
    float: right;
    padding-top: 40vh;
    padding-right: 5vh;
    font-size: 5vh;
  }

  .details-port .des {
    color: rgb(129, 145, 145);
    font-size: 4vh;
  }

  .descripcion {
    color: white;
    text-align: justify;
    padding: 0 2vh;
  }
}

@media screen and (max-width: 816px) and (min-width: 601px) {
  .rgba
  {
    height: 400vh;
  }
  footer{
    height: 35%;
  }
  footer #redes-sociales a img{
    width: 10vh;
    transition: all .3s ease;

  }
  footer #redes-sociales a img:hover{
    width: 11vh;
    transition: all .3s ease;
  }
  footer .derechos{
    font-size: 2vh;
    
  }
  #opi .myimg img {
    width: 95%;
    padding: 2vh;
  }
  #cambio_climatico  video
  {
    width: 49%;
  }
  #opi h1{
    font-size: 10vh;
  }
  #opi h2{
  font-size:8vh;
  }
  #opi p
  {
      font-size: 3vh;
  }
  #cambio_climatico ul{
    font-size: 3vh;
  }
  #cambio_climatico h1{
    font-size:6vh;
  }

  #cambio_climatico h2{
    font-size:6vh;
  }
  #cambio_climatico h3{
    font-size:4vh;
  }
  #cambio_climatico p{
  font-size: 3vh;    
  }


  #ficha h1 {

    font-size:6vh;
  }
  #pelicula p {
    font-size: 3vh;
  }
  #ficha h2 {

    font-size:6vh;
  }
  #pelicula h1 {
    font-size: 8vh;
  }
  #ficha h3 {

    font-size:4vh;
  }
  #pelicula h2 {
    font-size: 4vh;
  }
  #ficha p {
    font-size: 3vh;
  }
  #ficha .imagenes img {
    width: 40%;
    margin: 2vh;
  }
  #ficha video{
    width: 98%;
  }
  #ficha img:hover
  {
    width: 40%;
    transition: all .3s ease;
    box-shadow: 0 0 20px 0 rgba(65, 221, 241, 0.589);
    
  }
 
  #ficha img {
    width: 40%;
  }
  #pelicula .gif1{
    width: 60%;
  }
  
  
  .uno
  {
    height: max-content;
  }
  .cent-port {
    text-align: center;

  }

  .video1 {
    margin-bottom: -0.6%;
  }

  .nav .brand a {
    display: none;
  }

  .cent-port .portada {
    margin-left: 0vh;
    padding: 0;
    display: inline-block;
    padding-top: 15vh;
    scroll-padding-left: 15vh;
    width: 40%;
  }

  .details-port {

    color: white;
    float: right;
    padding-top: 40vh;
    padding-right: 5vh;
    font-size: 5vw;
  }

  .details-port .des {
    color: rgb(129, 145, 145);
    font-size: 4vw;
  }

  .descripcion {
    color: white;
    text-align: justify;
    padding: 0 2vw;
  }

}


@media (max-width: 600px) {

  .rgba
{
  background-color: rgba(0, 0, 0, 0.568);
  background-size: 100vh;
  height: 400vh;
  position: absolute;
  z-index: -0;
  width: 100%;
}
  footer{
    background-size: 100vh;
    height: 24%;
  }
  footer #redes-sociales a img{
    width: 15%;
    transition: all .3s ease;

  }
  footer #redes-sociales a img:hover{
    width: 15%;
    transition: all .3s ease;
  }
  footer .derechos{
    font-size: 2vh;
    
  }

  #opi .myimg img {
    width: 95%;
    margin: 2vh;
  }
#opi{
  padding-left: 3vh;
    padding-right: 3vh;
}
  #opi h1{
    font-size:10vh;
  }

  #opi h2{
    font-size:6vh;
  }
  #opi h3{
    font-size:4vh;
  }
  #opi p{
  font-size: 3vh;    
  }
  #cambio_climatico ul{
    font-size: 3vh;
  }
  #cambio_climatico h1{
    font-size:6vh;
  }

  #cambio_climatico h2{
    font-size:6vh;
  }
  #cambio_climatico h3{
    font-size:4vh;
  }
  #cambio_climatico p{
  font-size: 3vh;    
  }
  #ficha h1 {

    font-size:6vh;
  }
  #pelicula p {
    font-size: 3vh;
  }
  #ficha h2 {

    font-size:6vh;
  }
  #pelicula h1 {
    font-size: 8vh;
  }
  #ficha h3 {

    font-size:4vh;
  }
  #pelicula h2 {
    font-size: 4vh;
  }
  #ficha p {
    font-size: 3vh;
  }
  
  #cambio_climatico video
  {
    width: 100%;
  }
  #cambio_climatico
  {
    padding-left: 3vh;
    padding-right: 3vh;
  }
  
  
  #cambio_climatico h3
  {
    color:rgb(23, 104, 16);
    
  }
 
  #ficha .imagenes img {
    width: 95%;
    margin: 2vh;
  }
  #ficha .imagenes img:hover {
    width: 95%;
    margin: 2vh;
  }
  .btn{
    transition: all .3s ease;
    border: solid 3px;
    font-family: 'Arial Black';
    font-size: 15px;
    padding: 20px 40px;
    text-decoration: none;
    margin-right: 10px;
    background-color: white ;
  }
  #ficha
  {
    padding: 3vh;
    font-size: large;
  }
  #ficha video{
    width: 98%;
  }
  #ficha img:hover
{
  width: 50%;
  transition: all .3s ease;
  box-shadow: 0 0 20px 0 rgba(65, 221, 241, 0.589);
  
}
  
  #ficha img{
    width: 50%;
  }
  #pelicula .gif1{
    width: 100%;
  }
  
  .cent-port {
    text-align: center;

  }

  .descripcion {
    display: none;
  }

  .des {
    display: none;
  }

  .cent-port {
    text-align: center;
    align-content: center;
  }

  .cent-port .portada {
    margin: auto;
    padding-top: 15vh;

    width: 80%;
    height: auto;
  }

  .details-port {
    color: white;

  }

  .video1 {
    margin-bottom: -0.6%;
  }

  .nav .brand a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 5vw;
  }

  .nav ul li a {

    font-size: 4vw;
  }

  .nav ul li a:hover {
    background-color: white;
  }

  .sticky .menu {
    top: 0;
  }

  .section {
    background: #1F2323 50% 50% / cover no-repeat;

    position: relative;

    background-repeat: no-repeat;
    margin: 0;
    padding: auto;
    height: auto;
    width: 100%;
  }

  .uno {
    background-image: url("../images/1.jpg");

    background-attachment: fixed;
    height: 100%;
    height: auto;

  }

  .dos {
    background-image: url("../images/2.jpg");

    background-attachment: fixed;
    height: 50%;
    width: 100%;


  }


  .tres {
    background: url("../images/3.jpg") 50% 10% / cover no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 50%;
  }

  .cuatro {
    background: url("../images/4.jpg") 50% 10% / cover no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 50%;
  }

  .cinco {
    background: url("../images/5.jpg") 50% 10% / cover no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 50%;
  }














  .sticky .menu .hamburger {
    background: #6E7982;
  }

  .sticky .menu .hamburger::before,
  .sticky .menu .hamburger::after {
    background: #6E7982;
  }

  .open.sticky .hamburger {
    background: transparent;
  }

  .open .hamburger {
    background-color: transparent;
  }

  .open .hamburger::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

  }

  .open .hamburger::after {
    -webkit-transform: rotate(-45deg) translate(2px, -2px);
    -ms-transform: rotate(-45deg) translate(2px, -2px);
    transform: rotate(-45deg) translate(2px, -2px);
  }

  .menu {
    display: block;
    outline: none;
    position: relative;
    line-height: 60px;
    float: left;
    left: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    opacity: 0.7;
    -webkit-transition: opacity 150ms;
    transition: opacity 150ms;
  }

  .menu:hover {
    opacity: 1;
  }

  .hamburger,
  .hamburger::after,
  .hamburger::before {
    margin: 0 auto;
    display: block;
    width: 24px;
    height: 3px;
    line-height: 0;
    -webkit-transition: all 150ms;
    transition: all 150ms;
  }

  .hamburger::before {
    content: '';
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
  }

  .hamburger::after {
    content: '';
    -webkit-transform: rotate(-45deg) translate(2px, -2px);
    -ms-transform: rotate(-45deg) translate(2px, -2px);
    transform: rotate(-45deg) translate(2px, -2px);
    background: #fff;
  }

  .hamburger {
    background: #fff;
  }

  .hamburger::after {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }

  .hamburger::before {
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  .collapse nav {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  .navbar {
    -webkit-transition: -webkit-transform 150ms;
    transition: transform 150ms;

  }

  ul.navbar {
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    /* transform: translateY(-200%); */
    padding-left: 0;

  }

  ul.navbar li {
    line-height: calc((100vh - 60px) / 6);
    display: block;

  }

  a:hover {
    background-color: white;
  }

  .open .navbar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);

  }

  .nav .brand {
    display: block;
    text-align: center;
    float: none;

  }

  .sticky .brand {
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  }

  #nav {
    height: 100px;
  }

  #nav.open {

    height: auto;
    min-height: 100%;
  }

  #nav.sticky {
    height: 60px;
  }

  #nav .open.sticky {
    height: auto;
  }
  #nav.open
  {
    background-color: black;
  }
  .cent-port .portada
  {
    padding-top: 18vw;
  }
  .contact-form form p
  {
    font-size: 3vw;
  }
}

@media (max-width: 374px) {
  
  .rgba{
    background-color: rgba(0, 0, 0, 0.568);
    background-size: 100vh;
    height: 400vh;
    position: absolute;
    z-index: -0;
    width: 100%;
  }
  footer {
    background-size:175%;
  }
  footer{
    height: auto;
  }
  footer #redes-sociales a img{
    width: 15%;

  }
  footer #redes-sociales a img:hover{
    width: 15%;

  }
  footer .derechos{
    font-size: 2vh;
    
  }
  #pelicula h1
  {
    font-size: 6vh;
  }
  
  #opi h1
  {
    font-size: 8vh;
  }
  #ficha img {
    width: 100%;
  }
  #ficha img:hover{
    width: 100%;
  }
  .btn{
    transition: all .3s ease;
    border: solid 3px;
    font-family: 'Arial Black';
    font-size: 10px;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 10px;
    background-color: white ;
  }
  .cent-port {
    text-align: center;
    align-content: center;
  }
 

  .descripcion {
    display: none;
  }

  .des {
    display: none;
  }

  .cent-port {
    text-align: center;
    align-content: center;
    height: auto;
  }

  .cent-port .portada {
    margin: auto;
    padding-top: 15vh;
    width: 80%;
    height: auto;
  }

  .details-port {
    color: white;

  }
  
  .video1 {
    margin-bottom: -0.6%;
  }

  .nav .brand a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 5vw;
  }

  .nav ul li a {

    font-size: 4vw;
  }

  .nav ul li a:hover {
    background-color: white;
  }

  .sticky .menu {
    top: 0;
  }

  .section {
    background: #1F2323 50% 50% / cover no-repeat;

    position: relative;

    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  .uno {
    background-image: url("../images/1.jpg");

    background-attachment: fixed;
    height: 100%;
    width: 100%;

  }

  .dos {
    background-image: url("../images/2.jpg");

    background-attachment: fixed;
    height: 50%;
    width: 100%;


  }


  .tres {
    background: url("../images/3.jpg") 50% 10% / cover no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 50%;
  }

  .cuatro {
    background: url("../images/4.jpg") 50% 10% / cover no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 50%;
  }

  .cinco {
    background: url("../images/5.jpg") 50% 10% / cover no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 50%;
  }














  .sticky .menu .hamburger {
    background: #6E7982;
  }

  .sticky .menu .hamburger::before,
  .sticky .menu .hamburger::after {
    background: #6E7982;
  }

  .open.sticky .hamburger {
    background: transparent;
  }

  .open .hamburger {
    background-color: transparent;
  }

  .open .hamburger::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

  }

  .open .hamburger::after {
    -webkit-transform: rotate(-45deg) translate(2px, -2px);
    -ms-transform: rotate(-45deg) translate(2px, -2px);
    transform: rotate(-45deg) translate(2px, -2px);
  }

  .menu {
    display: block;
    outline: none;
    position: relative;
    line-height: 60px;
    float: left;
    left: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    opacity: 0.7;
    -webkit-transition: opacity 150ms;
    transition: opacity 150ms;
  }

  .menu:hover {
    opacity: 1;
  }

  .hamburger,
  .hamburger::after,
  .hamburger::before {
    margin: 0 auto;
    display: block;
    width: 24px;
    height: 3px;
    line-height: 0;
    -webkit-transition: all 150ms;
    transition: all 150ms;
  }

  .hamburger::before {
    content: '';
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fff;
  }

  .hamburger::after {
    content: '';
    -webkit-transform: rotate(-45deg) translate(2px, -2px);
    -ms-transform: rotate(-45deg) translate(2px, -2px);
    transform: rotate(-45deg) translate(2px, -2px);
    background: #fff;
  }

  .hamburger {
    background: #fff;
  }

  .hamburger::after {
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }

  .hamburger::before {
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  .collapse nav {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  .navbar {
    -webkit-transition: -webkit-transform 150ms;
    transition: transform 150ms;

  }

  ul.navbar {
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    /* transform: translateY(-200%); */
    padding-left: 0;

  }

  ul.navbar li {
    line-height: calc((100vh - 60px) / 6);
    display: block;

  }

  a:hover {
    background-color: white;
  }

  .open .navbar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);

  }

  .nav .brand {
    display: block;
    text-align: center;
    float: none;

  }

  .sticky .brand {
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  }

  #nav {
    height: 100px;
  }

  #nav.open {

    height: auto;
    min-height: 100%;
  }

  #nav.sticky {
    height: 60px;
  }

  #nav .open.sticky {
    height: auto;
  }
  .uno 
  {
    
    height: max-content;
  }
  .cent-port .portada
  {
    padding-top: 29vw;
  }
  #nav.open
  {
    background-color: black;
  }
  .contact-form form {
    display: block;
  }
  .contact-form form p
  {
    font-size: 3vh;
  }
}